.venv/
__pycache__/
*.pyc
.pytest_cache/

.git/
.gitignore

outputs/
reports/
qemu-demo/rootfs/
qemu-demo/*.cpio
qemu-demo/Image
qemu-demo/initramfs.cpio

build/
build-arm64/
build-arm64-static/

*.tar
*.tar.gz
*.tar.xz
*.zip

third_party/
*.onnx
